<style>
h1, h2, h3, h4, h5, h6, p {
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 15px;
}

body {
	position: relative;
	font-family: 'Oxygen', sans-serif;
}

.casestudybodytext {
	text-align: left;
	color:#666;
}

.casestudysubheader {
	color: #6aa7b9;
	font-weight:600;
}

.casestudyheader {
	color: #6aa7b9;
	font-weight:800;
	font-size:22px;
}

.casestudyitalics {
	color: #6aa7b9;
	font-weight:500;
	font-style: italic;
	text-align: center;
}

p, span {
	font-family: 'Oxygen', sans-serif; font-weight: 400;
}

h1, h2, h3, h4 {
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	font-family: 'Oxygen', sans-serif; font-weight: 700;
}

/*header--------------------------------------*/

.name {
	color: #000;
	font-size: 32px;
	padding-left: 3px;
	padding-top: 120px;
	margin-top: 120px;

}

.role {
	font-size: 25px;
	color:#6aa7b9;
	margin-top: 10px;
	padding-top: 30px;
	padding-left: 10px;
}

.jllogo {
	padding-bottom: 0px;
	
}

.navbar img {
	padding-right: 5px;
	padding-bottom: 5px;
}

.navbar {
	background-image: none;
	font-size: 17px;
}

.navbar-default {
    	background-color: #FFFFFF;
    	border-color: #6aa7b9;
		border: thin;
    	height: 90px;
    	/*padding-right: 20px;*/
}

.navbar-nav {
	background-color: #ffffff;
}




.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;

}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;

}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}


ul.nav a:hover { color: #6aa7b9 !important; }





/*hero--------------------------------------*/


#hero {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	margin-top: 80px;
	background-image: url("Images/hero-image.jpg");
	background-size: cover;
	height: 250px;

}
#herocasestudy {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	margin-top: 80px;
	background-image: url("Images/hero-image.jpg");
	background-size: cover;
	height: 10px;
	margin-bottom: 30px;

}

.tornpaperimg {
	display: block;
}

.tornpaperimgmobile {
	display: none;
}

#quote p {
	font-family: 'Dancing Script', cursive;
	font-size: 1.8em;
	color: #333;
	padding-left: 75px;
	padding-top: 30px;
}
.greeting {
	/*background-size: cover;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 625px;
	height: 250px;
	min-width: 55%;
	max-width: 75%;
	min-height: 70%;
	background: transparent !important;
	opacity: .8;
}

.greetingcontainer {
	position: relative;
}

.tornpaperimg {
	border: none;
}

.tornpaperimagemobile {
	display:none;
}

.greetingtext {
	position: absolute;
}

#qualifications {
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
}

#qualifications h4, li {
	color: #ffffff;
	font-family: 'Oxygen', sans-serif; font-weight: 400;
}

#quals ul {
	list-style-type: circle;
	color: #ffffff;
	font-family: 'Oxygen', sans-serif; font-weight: 400;
}
.qualssubheader {
	text-transform: uppercase;
	color: #ffffff;
	text-align: left;
	padding-right: 100px;
	vertical-align: top;

}

.qualstext {
	font-size: .9em;
	text-align: left;
	color: #ffffff;
}



/*process--------------------------------------*/



#process {
	background-color: #e2f1f6;
	height: 300px;
	position: relative;
	width: 100%;
}

#processgroup {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	width: 1000px;
}

.processcircle {
	background-color: #6aa7b9;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	text-align: center;
	color: #ffffff;
	line-height: 80px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	text-align: center;
	position: relative;
}

.processcircle:hover {
	border-radius: 5%;

}

.processcircle p {
	line-height: 20px;
	color: #a3a3a3;
	padding-top: 4px;
	width: 120px;
	text-align: left;
	font-size: .9em;
}

.whitearrow{
	background-image: URL("Images/whitearrow.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 20px;
	display: inline-block;
	padding-left: 25px;
	padding-right: 15px;
	margin-top: 25px;
	margin-bottom: 15px;
}

#longwhitearrow {
	background-image: URL("Images/longwhitearrow.png");
	width: 950px;
	height: 100px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 174px;
}






/*projects--------------------------------------*/

#showcase {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-image:url(Images/FoodFinderinMultipleDevices.png);
	background-size: cover;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

#showcasemytime {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-image:url(MyTimeShowcase.png);
	background-size: cover;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

#showcasethyca {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-image:url(ThycaShowcase.png);
	background-size: cover;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

#showcasekayaks {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-image: url(CastleKayaks-MultipleDevices.png);
	background-size: cover;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

#showcasemedicalrecords {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-image: url(MedicalRecordsCornellinDevices.png);
	background-size: cover;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

#showcasemythy {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-image:url(MyThyConnectinDevices.png);
	background-size: cover;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

#showcasepigparade {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-image:url(PigParademultipledevices.png);
	background-size: cover;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

#showcasepigstatue{
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	background-size: contain;
	background-repeat:no-repeat;
	image-size: 100%;
	height: 644px;
	margin-top: 20px;

}

.showcasebackground {
	background-color: #dfdbdc;
}

.casestudytext {
	font-size: 18px;
	font-weight: 550;
	color:#6aa7b9;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
	margin-top: 5px;
}

.casestudydescription {
	font-size: 14px;
	color:#6aa7b9;
	text-align: center;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.casestudyimage {
	display: block;
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
	max-width: 800px;
}

.casestudyheaderimg {
	display: block;
	width: 100%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.viewcasestudybtn {
	display: block;
	background-color: #6aa7b9;
	color: #ffffff;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 15px;
	width: 200px;
	margin-top: 25px;
	margin-bottom: 40px;
	border-radius: 5px;
	text-decoration: none;
}

.viewcasestudybtn a {
	text-decoration: none;
	color: inherit;
}

.subbullets {
	margin-left: 30px;
	color: #333;
}

.thycabefore {
	width: 20%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: #999;
}

.castlekayaksimages {
	width: 40%;
	height: auto;
	display: block;
	margin-left: auto;
	margin-right: auto;
	box-shadow: #999;
}

.backtotop {
	text-align: right;
	color: #6aa7b9;
}

.backtotop img {
	text-align: right;
	width: 30px;
	height: 30px;
}

.backtohome img {
	text-align: right;
	transform: rotate(270deg);
	width: 30px;
	height: 30px;
}

.backtohome {
	text-align: left;
	color: #6aa7b9;
}

.beforescreenshot {
	margin-bottom: 35px;
}

.exclamationpoint {
	color: #000000;
	font-weight: 500;
	font-family: Arial;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-right: 10px;	
}

.issuestext {
	color: #000000;
	font-weight: bold;
	text-align: left;
}

.resultstext {
	text-align: left;
}

.endresults {
	background-color: #ccffcc;
	text-align: left;
	height: 105px;

}

.whitearrowdown {
	-ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
     	transform: rotate(90deg);

}

.whitearrowprojects {
	background-image: URL("Images/whitearrow.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 40px;
	display: block;
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 150px;
	margin-bottom: 30px;
	margin-left: 0px;
	left: -50px;
}

.example {
	padding-top: 15px;
	padding-bottom: 10px;
	font-style: oblique;

}

.beforeafter {
	font-size: 11px;
	padding-top: 35px;
	margin-top: 35px;
	padding-left: 40px;
	color: #666;
	font-weight: bold;
}

.orangebutton {
	background-color: orange;
	border-radius: 5%;
	color: black;
	padding: 10px;
	margin: 0px;
	position: relative;
	left: 105px;
	top: 0px;
}

.orangebutton:hover {
	text-decoration: none;
	color: white;
}

.gradient {
    	background: #e3e3e3;
}

.spacer {
	background-color: #FFF;
	height: 10px;
}






/*contact--------------------------------------*/


#contact {
	background-color: #e2f1f6;

}

#contact p {
	text-align: center;

}

.contactmeforportfolio {
	background-color: #7a7675;
	height: 40px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 40px;
}

.contactmeforportfolio a {
	color: #e2f1f6;
	text-align: center;
}

.contactmeforportfolio a:hover {
	color: #ffffff;
}

.icongroup {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.icongroup img:hover {
	-ms-transform: scale(1.15,1.15); /* IE 9 */
    	-webkit-transform: scale(1.15,1.15); /* Chrome, Safari, Opera */
     	transform: scale(1.15,1.15);
}

.icons {

	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
}


#justforfun {
	background-color: #ffffff;
}

.justforfun {
	display: block;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
	background-color: #ffffff;
}

.pigicon {
	padding: 10px;
	width: 70px;
	height: 70px;
}

.pigicon:hover {
	-ms-transform: scale(1.15,1.15); /* IE 9 */
    	-webkit-transform: scale(1.15,1.15); /* Chrome, Safari, Opera */
     	transform: scale(1.15,1.15);

}



/*footer--------------------------------------*/

#resume {
	background-color: #ffffff;
	text-align: center;
	padding-top: 25px;
	font-size: 11px;
}


/*media queries---------------------------------------------------------------------------------------*/






@media screen and (max-width: 765px) {


.jllogo {
	padding-bottom: 0px;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	
}

.jllogo {
	padding-bottom: 0px;
	width: 50px;
	height: 50px;
	margin-top: 5px;
	margin-right: 0px;
	margin-left: 0px;
	padding-left: 0px;
	
}

.name {
	color: #000;
	font-size: 25px;
	padding-left: 0px;
	padding-top: 10px;

}

.role {
	font-size: 19px;
	color:#6aa7b9;
	margin-top: 10px;
}

.navbar .navbar-header {
	position: absolute;
	right: 0;
	top: 0;
	margin-top: 0px;
}

.navbar .navbar-collapse {
	width: 100%;
	
}
.navbar-nav {
	height: 100%;
	/*z-index: 100;*/
	text-align: center;
	background-color: #B3EEE9;
}

.navbar-default {
    	background-color: #FFFFFF;
    	border-color: #6aa7b9;
		border: thin;
    	height: 73px;
    	/*padding-right: 20px;*/
}

.navbar img {
	padding-right: 5px;
	padding-bottom: 5px;
}

#navbar-example {
	/*width: 400px;*/
}

.greeting {
	/*background-size: cover;*/
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: auto;
	max-width: 98%;
	min-width: 98%;
	max-height: 98%;
	background: transparent !important;
	opacity: .9;
}

#hero {
	/*padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;*/
	margin-top: 73px;
	background-image: url("Images/hero-image.jpg");
	background-size: cover;

}

.tornpaperimg {
	display: none;
}

.tornpaperimgmobile {
	display: block;
}



#hero {
	padding-top: 8px;
	height: 258px;
}

.keyqualifications {
	padding-bottom: 5px;
}

.endresults {
	background-color: #c0f9b5;
	text-align: left;
	height: 120px;
}

#processgroup {
	width: 100%;
}
#process {
	height: auto;
	
}
.justforfun {
	display: block;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #ffffff;
}


}

@media screen and (max-width: 1000px) {





.processcircle p {
	line-height: 20px;
	color: #a3a3a3;
	padding-top: 4px;
	width: 110px;
	text-align: left;
	font-size: .8em;
	letter-spacing: -.5px;
	
}
#quote p {
	display: none;
}


.qualstext {
	font-size: .8em;
	text-align: left;
}

.issuestext {
	font-size: .8em;
}

.resultstext {
	font-size: .8em;
}

.processcentered {
	width: 550px;
	position: relative;
	margin: 0 auto;
}

.screenshot {
	width: 80%;
	max-height: 600px;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 35px;
}

#projects {
	width: 100%;
	position: relative;
	color: #333;	
}

.verticalscreenshot {
	width: 300px;
	position: relative;
	margin: 0 auto;
}

.verticalimage {
	width: 300px;
}

}

</style>
