<style>
body, h1, h2, h3, h4, h5, h6, p {
	font-family: 'Oxygen', sans-serif;
	margin-bottom: 15px;
}

body {
	position: relative;
}

p, span, td, .processcircle {
	font-family: 'Oxygen', sans-serif; font-weight: 400;
}

h1, h2, h3, h4 {
	text-align: center;
	text-transform: uppercase;
	color: #000000;
	font-family: 'Oxygen', sans-serif; font-weight: 700;
}

/*header--------------------------------------*/

.name {
	color: #000;
}

.navbar {
	background-image: none;
}

.navbar-default {
    	background-color: #FFFFFF;
    	border-color: #6aa7b9;
    	height: 100px;
    	padding-right: 20px;
}

.navbar-nav {
	background-color: #ffffff;
}




.navbar-toggle {
  border: none;
  background: transparent !important;
}
.navbar-toggle:hover {
  background: transparent !important;
}
.navbar-toggle .icon-bar {
  width: 22px;
  transition: all 0.2s;
  -webkit-transition: all 0.2s;
  -ms-transition: all 0.2s;

}
.navbar-toggle .top-bar {
  transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);

  transform-origin: 10% 10%;
  -ms-transform-origin: 10% 10%;
  -webkit-transform-origin: 10% 10%;

}
.navbar-toggle .middle-bar {
  opacity: 0;
}
.navbar-toggle .bottom-bar {
  transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);

  transform-origin: 10% 90%;
  -ms-transform-origin: 10% 90%;
  -webkit-transform-origin: 10% 90%;
}
.navbar-toggle.collapsed .top-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}
.navbar-toggle.collapsed .middle-bar {
  opacity: 1;
}
.navbar-toggle.collapsed .bottom-bar {
  transform: rotate(0);
  -ms-transform: rotate(0);
  -webkit-transform: rotate(0);
}


ul.nav a:hover { color: #6aa7b9 !important; }





/*hero--------------------------------------*/


#hero {
	padding-top: 50px;
	padding-left: 50px;
	padding-right: 50px;
	margin-top: 100px;
	background-image: url("Images/hero-image.jpg");
	background-image-height: 100%;





}

#sshero {
	background-color: #808080;
	background-size: 100%;
	background-image: cover;
	display: inline-block;

}

.keyqualifications {
	padding-bottom: 0px;

}

#quote p {
	font-family: 'Dancing Script', cursive;
	font-size: 1.8em;
	color: #333;
	padding-left: 75px;
	padding-top: 30px;
}


#qualifications {
	background-color: rgba(0,0,0,0.5);
	border-radius: 10px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	min-width: 400px;
	padding-bottom: 10px;
}

#qualifications h4, li {
	color: #ffffff;
	font-family: 'Oxygen', sans-serif; font-weight: 400;
}

#quals ul {
	list-style-type: circle;
	color: #ffffff;
	font-family: 'Oxygen', sans-serif; font-weight: 400;
}
.qualssubheader {
	text-transform: uppercase;
	color: #ffffff;
	text-align: left;
	padding-right: 100px;
	vertical-align: top;

}

.qualstext {
	font-size: .9em;
	text-align: left;
	color: #ffffff;
}



/*process--------------------------------------*/



#process {
	background-color: #e2f1f6;
	height: 300px;
	width: 100%;
}

#processgroup {
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	display: block;
	width: 1000px;
}

.processcircle {
	background-color: #6aa7b9;
	border-radius: 50%;
	width: 80px;
	height: 80px;
	text-align: center;
	color: #ffffff;
	line-height: 80px;
	margin-left: 15px;
	margin-right: 15px;
	margin-top: 15px;
	margin-bottom: 15px;
	display: inline-block;
	position: relative;
}

.processcircle:hover {
	border-radius: 5%;

}

.processcircle p {
	line-height: 20px;
	color: #a3a3a3;
	padding-top: 4px;
	width: 120px;
	text-align: left;
	font-size: .9em;
}

.whitearrow{
	background-image: URL("Images/whitearrow.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 20px;
	display: inline-block;
	padding-left: 25px;
	padding-right: 15px;
	margin-top: 25px;
	margin-bottom: 15px;
}

#longwhitearrow {
	background-image: URL("Images/longwhitearrow.png");
	width: 550px;
	height: 100px;
	background-repeat: no-repeat;
	margin-left: auto;
	margin-right: auto;
	margin-top: 174px;
}






/*projects--------------------------------------*/



.beforescreenshot {
	margin-bottom: 35px;
}

.exclamationpoint {
	color: #000000;
	font-weight: 500;
	font-family: Arial;
	font-size: 30px;
	padding-left: 10px;
	padding-right: 20px;
	padding-top: 5px;
	padding-bottom: 0px;
	margin-right: 10px;	
}

.issuestext {
	color: #000000;
	font-weight: bold;
	text-align: left;
}

.resultstext {
	text-align: left;
}

.endresults {
	background-color: #ccffcc;
	text-align: left;
	min-height: 140px;

}

.whitearrowdown {
	-ms-transform: rotate(90deg); /* IE 9 */
    	-webkit-transform: rotate(90deg); /* Chrome, Safari, Opera */
     	transform: rotate(90deg);

}

.whitearrowprojects {
	background-image: URL("Images/whitearrow.png");
	background-repeat: no-repeat;
	height: 100px;
	width: 40px;
	display: block;
	padding-left: 0px;
	padding-right: 20px;
	margin-top: 150px;
	margin-bottom: 30px;
	margin-left: 0px;
	left: -50px;
}

.example {
	padding-top: 15px;
	padding-bottom: 10px;
	font-style: oblique;

}

.beforeafter {
	font-size: 11px;
	padding-top: 35px;
	margin-top: 35px;
	padding-left: 40px;
	color: #666;
	font-weight: bold;
}

.orangebutton {
	background-color: orange;
	border-radius: 5%;
	color: black;
	padding: 10px;
	margin: 0px;
	margin-bottom: 10px;
	position: relative;
	left: 105px;
	top: 0px;
}

.orangebutton:hover {
	text-decoration: none;
	color: white;
}

.gradient {
    	background: #e3e3e3;
}








/*contact--------------------------------------*/


#contact {
	background-color: #e2f1f6;

}

#contact p {
	text-align: center;

}

.contactmeforportfolio {
	background-color: #7a7675;
	height: 150px;
	color: #ffffff;
	font-size: 16px;
	font-weight: 400;
	text-align: center;
	line-height: 20px;
	padding-top: 10px;
}

.samples {
	display: block;
	position: relative;
	width: 280px;
}

.contactmeforportfolio ul {
	text-align: left;
	margin: 0 auto;

}

.contactmeforportfolio a {
	color: #e2f1f6;
	text-align: center;
}

.contactmeforportfolio a:hover {
	color: #ffffff;
}

.icongroup {
	display: block;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

.icongroup img:hover {
	-ms-transform: scale(1.15,1.15); /* IE 9 */
    	-webkit-transform: scale(1.15,1.15); /* Chrome, Safari, Opera */
     	transform: scale(1.15,1.15);
}

.icons {

	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 25px;
}


#justforfun {
	background-color: #ffffff;
}

.justforfun {
	display: block;
	text-align: center;
	margin-left: 200px;
	margin-right: 200px;
	background-color: #ffffff;
}

.pigicon {
	padding: 10px;
	width: 70px;
	height: 70px;
}

.pigicon:hover {
	-ms-transform: scale(1.15,1.15); /* IE 9 */
    	-webkit-transform: scale(1.15,1.15); /* Chrome, Safari, Opera */
     	transform: scale(1.15,1.15);

}



/*footer--------------------------------------*/

#resume {
	background-color: #ffffff;
	text-align: center;
	padding-top: 25px;
	font-size: 11px;
}


/*media queries---------------------------------------------------------------------------------------*/


@media screen and (max-width: 765px) {

.navbar-nav {
	min-width: 220px;
	width: 100%;
	z-index: 200;
	text-align: center;
}

.navbar-collapse {
	min-width: 220px;
	width: 100%;
	z-index: 201;
}

#hero {
	padding-top: 8px;
	height: 400px;
}

.keyqualifications {
	padding-bottom: 5px;
}

.endresults {
	background-color: #c0f9b5;
	text-align: left;
	height: 120px;
}

#processgroup {
	width: 100%;
}
#process {
	height: auto;
	
}
.justforfun {
	display: block;
	text-align: center;
	margin-left: 100px;
	margin-right: 100px;
	background-color: #ffffff;
}




}

@media screen and (max-width: 1000px) {


.processcircle p {
	line-height: 20px;
	color: #a3a3a3;
	padding-top: 4px;
	width: 110px;
	text-align: left;
	font-size: .8em;
	letter-spacing: -.5px;
	
}
#quote p {
	display: none;
}

.beforeafter {
	font-size: .9em;
}

.issuestext {
	font-size: .9em;
}

.resultstext {
	font-size: .9em;
}

.processcentered {
	width: 550px;
	position: relative;
	margin: 0 auto;
}

.screenshot {
	width: 80%;
	max-height: 600px;
	max-width: 600px;
	margin: 0 auto;
	padding-bottom: 35px;
}

#projects {
	width: 100%;
	position: relative;
	
}

.verticalscreenshot {
	width: 300px;
	position: relative;
	margin: 0 auto;
}

.verticalimage {
	width: 300px;
}
}

@media screen and (max-width: 460px) {

.navbar-nav {
	min-width: 220px;
	width: 100%;
	z-index: 200;
	text-align: center;
}	
	
#qualifications {
	width: 320px;
	min-width: 320px;
	margin-left: auto;
	margin-right: auto;
}

.qualstext {
	font-size: .82em;
	text-align: left;
	color: #ffffff;
}

.qualssubheader {
	text-transform: uppercase;
	color: #ffffff;
	text-align: left;
	padding-right: 20px;
	vertical-align: top;

}

#navbar-brand {
	padding-left: 0px;
	margin-left: 0px;
	width: 30%;
}

.navbar {
	background-image: none;
	width: 100%;
}

.navbar-default {
    	background-color: #FFFFFF;
    	border-color: #6aa7b9;
    	height: 100px;
		width: 100%;
    	padding-right: 0px;
}

.screenshot {
	width: 100%;
}



}

@media only screen 
and (min-width : 500px) 
and (max-width : 700px)  { 
	.processcircle {
		margin-left: 80px;
}

}
@media screen and (min-width: 400px) and (max-width: 765px) {

div.col-xs-12 {
	float: none;
   	margin: 0 auto;
	padding-left: 25%;
}
}


</style>